
#carousel_container
{
	float:left;
	background:url(carousel_pics/container_bg.png) repeat;
	padding:0px 1px 0px 1px;
	
	height:185px;

	}

#carousel_inner {
float:left; /* important for inline positioning */
width:870px; /* important (this width = width of list item(including margin) * items shown */
overflow: hidden;  /* important (hide the items outside the div) */
/* non-important styling bellow */

padding:0px 77px 25px 17px;
//padding:0px 10px 25px 0px;
float:left;
	height:179px;
	//height:175px;
}

#carousel_ul {
float:left;
position:relative;
left:-210px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin-top:8px;
padding: 0px;
width:9999px; /* important */
/* non-important styling bellow */

}

#carousel_ul li{
float: left; /* important for inline positioning of the list items */                                    
width:172px;  /* fixed width, important */
/* just styling bellow*/
height:169px;
background:url(carousel_pics/carousel_li_bg.png) no-repeat;
padding:13px 0px 0px 18px;
margin-left:5px;}
#carousel_ul li .text{
	position: absolute;
float: left;
width: 136px;
margin: 100px 0px 0px -130px;
//margin: 100px 0px 0px -135px;
	}
#carousel_ul li .car_name
{
	
	float:left;
	font-size:12px;
	color:#fff;
	width:132px;
	text-align:center;
	padding-top:1px;}
#carousel_ul li .car_price
{
	float:left;
	font-size:12px;
	color:#00b9ff;
	width:135px;
	text-align:center;
	}
#carousel_ul li a

{
		float:left;
		margin:3px 0px 0px 4px;}

#carousel_ul li img {

.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
cursor:pointer;
cursor: hand; 
border:0px; 


}
#left_scroll, #right_scroll{
float:left; 
height:183px; 
width:15px; 


}
#left_scroll img, #right_scroll img{
/*styling*/
cursor: pointer;
cursor: hand;


}
.slider_top
{
	float:left;
	margin-left:16px;
	background:url(carousel_pics/slider_top_bg.png) repeat-x;
	width:955px; height:30px;
	padding:4px 0px 0px 10px;
	//width:880px;
	color:#fff;
	}
.slider_top .title
{ border-right:2px solid #fff; padding-right:15px;}
.slider_top a
{
	text-decoration:none; margin-left:20px;font-size:11px; color:#fff;
	background:url(carousel_pics/dashes.png) repeat-x bottom;
	}
.slider_top a:hover
{ color:#44c8f5;
	background:none;
	

}