<div class="fl" style="width:340px;">
    
    <span class="formtit w100 textR fl">
  <label for="filed_car_brand" class="req_field">{Trans param='filed_car_brand'}</label>
  </span> 
  {if !$this->homeBrands}
  	{$this->getHomeBrands()}
  {/if}
  <select name="main[filed_car_brand]" id="main[filed_car_brand]"  onchange="fillMyModelsGR(this.value,'filed_car_brand_model','{$this->path}')"  class="sel margL10 w170">
    <option value="">{Trans param='select_car_brand'}</option>
        {foreach from = $this->dictonary.brand item = item key=_id}
            <option value="{$_id}" {if $offer.filed_car_brand == $_id} selected="selected"{/if}>{$item}</option>
        {/foreach}
  </select>
<br class="cb" />
<span class="formtit w100 textR fl">
<label for="filed_car_brand_model" class="req_field">{Trans param='filed_car_brand_model'}</label>
</span>


<select name="main[filed_car_brand_model]" id="filed_car_brand_model" {if !$offer.filed_car_brand} disabled="disabled"{/if} class="sel margL10 w170" >
  <option value="">{Trans param='select_car_model'}</option>
  
  {if $offer.filed_car_brand}
  
	{assign var=select_car_models value=$db->getTree('brandmodel','*',"lng_id=`$this->defLng.id` AND active ") }
  {foreach from=$select_car_models[$offer.filed_car_brand] item = item key = key}
  {if isset($select_car_models[$item.id])}
  <optgroup label="{$item.label}">
  {foreach from=$select_car_models[$item.id] item = sitem }
  <option value="{$sitem.id}" {if $offer.filed_car_brand_model == $sitem.id} selected="selected"{/if}>{$sitem.label}</option>
  {/foreach}
  </optgroup>
  {else}
    <option value="{$item.id}" {if $offer.filed_car_brand_model == $item.id} selected="selected"{/if}>{$item.label}</option>
  {/if}
  {/foreach}
  {/if}
</select>
<br class="cb" />
<span class="formtit w100 textR fl">
<label for="filed_engine" class="req_field">{Trans param='filed_engine'}</label>
</span>
<input type="text" name="main[filed_engine]" id="filed_engine" class="inp margL10 fl" style="width:40px;" value="{$offer.filed_engine|default:''}"/><span class="fl">&nbsp;{Trans param='mensuration_of_volume'}</span>

<span class="formtit margL20 textR fl">
<label for="filed_engine_power">{Trans param='filed_engine_power'}</label>
</span>
<input type="text" name="main[filed_engine_power]" id="filed_engine_power" class="inp margL10 fl" style="width:40px;" value="{$offer.filed_engine_power|default:''}"/><span class="fl">&nbsp;{Trans param='mensuration_of_power'}</span>
<br class="cb" />
</div>