{*<div class="wleft">{$this->CurentBrand.label}</div>
<div class="wright"></div>
<div class="wleftContent ">
 {if $this->CurentBrand.image} <img src="{FithImageToSize width=200 height=200 frame=true base="/img/brandmodel/big/" image=$this->CurentBrand.image}" alt="{$this->CurentBrand.label}" title="{$this->CurentBrand.label}" align="left" class="imgmarg" />{/if}
  {$this->CurentBrand.short} <br />
  
  {if $this->CurentBrand.full}
  <div id="CurentBrand_full" class="hidden"></div>
  <a href="{Link page='brand' brand=$this->CurentBrand.alias action='more')}" class="more black moraboutbrand" rel="{Trans param='BACK'}">{Trans param='more'}</a> {/if} <br />
 
   </div>
<div class="wbot cb"></div>
{include file="brand/thisbarndmodels.tpl.html"}
*}