<center>
  <div class="w160"><a href="http://www.studio-one.am" class="fl" target="_blank" title="Studio One - Web Design Studio"><img src="/img/studio-one.png" width="23" height="37" alt="Studio One - Web Design Studio" title="Studio One - Web Design Studio" /></a>
    <div class="copyright fl">&copy; {$smarty.now|date_format:"%Y"} <a href="http://transinfo.am" target="_blank">Transinfo.am</a><br />
      Website by <a href="http://www.studio-one.am" target="_blank" title="Studio One - Web Design Studio">Studio One</a></div>
  </div>
</center>
