{strip}
<div id="right" class="" {if $this->module!="home"}style=""{/if}>
    <div class="specialProjectTit">{Trans param='advertising'}</div>
    <div class="banners__bac">
        <!--<br class="cb"/>!-->
            {*{include file=default/searchword.tpl.html}*}
            {include file=default/ads.tpl.html _place='ads_right' seperator='<br class="cb"/>'}
            <!--<<div style="background-color: #f7f7f7; height: 130px;width: 202px;overflow: hidden;">
           div class="fb-like-box" data-href="https://www.facebook.com/Transinfo.am" data-width="202" data-height="220" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </div>-->
    </div>
</div>
{/strip}



