<div class="CarMainTbl">
{if !empty($this->AllBrands.1)}
<div class="titles2 cb shadowbg_pic" style="line-height:36px; margin-top:0px !important">{Trans term="usssr_vendors" default="Российские автомобили"}</div>
{/if}
{assign var = brandCountRus value = $this->AllBrands.1|@count}
{assign var = brandperBlockRus value = $brandCountRus/5|@floor}
<div style="float: left;width: 150px;">
{foreach from=$this->AllBrands.1 item = item key =key name=bb}

  <div class="brandView">
    <div class="fl" style="width:27px">
      <div class="distbl">
        <div class="distblcell">
          <div class="disinnertbl"> {if $item.image}<a href="{Link page='cars' brand=$item.alias}" class="barand"> 
		  <img src="{FithImageToSize width=25 height=25 frame=true base="/img/brandmodel/big/" image=$item.image}"  style="max-width:25px;max-height:25px" class="margR5" alt="{$item.label}" title="{$item.label}" /> </a>{/if}</div>
        </div>
      </div>
    </div>
    <div style="float:left;  padding-left:3px">
    <a href="{Link page='cars' brand=$item.alias}" class="barand lh25 fl">{$item.label}</a>
    </div>
    <div style="float:right;  line-height:25px"> {$item.offers_count} </div>

    </div>
  {if $smarty.foreach.bb.iteration%$brandperBlockRus==0}
  </div>
  <div style="float: left;width: 150px;">
  
  
  {/if}
  {/foreach}
  </div> 
  {if !empty($this->AllBrands.1)}
<div class="titles2 cb shadowbg_pic" style="line-height:36px">{Trans term="not_usssr_vendors" default="Иномарки"}</div>
{/if}
{assign var = brandCount value = $this->AllBrands.0|@count}
{assign var = brandperBlock value = $brandCount/5|@ceil}
<div style="float: left;width: 150px;">
  {foreach from=$this->AllBrands.0 item = item key =key name=bb}
  <div class="brandView">
    <div class="fl" style="width:27px">
      <div class="distbl">
        <div class="distblcell">
          <div class="disinnertbl"> {if $item.image}<a href="{Link page='cars' brand=$item.alias}" class="barand"> <img src="{FithImageToSize width=25 height=25 frame=true base="/img/brandmodel/big/" image=$item.image}"style="max-width:25px;max-height:25px"  class="margR5" alt="{$item.label}" title="{$item.label}" /> </a>{/if}</div>
        </div>
      </div>
    </div>
    <div style="float:left; padding-left:3px" >
    <a href="{Link page='cars' brand=$item.alias}" class="barand lh25 fl">{$item.label}</a>
    </div>
    <div style="float:right; line-height:25px"> {$item.offers_count} </div>

    </div>
  {if $smarty.foreach.bb.iteration%$brandperBlock==0}
  </div>
  <div style="float: left;width: 150px;">
  
  
  {/if}
  {/foreach} 
  </div>
</div>
