<span class="slider_top"><span class="title">Շտապ վաճառք </span>   <a href="#">Որոշ Աստիճան</a>
 <a href="#">For News</a>
 </span>
 <br style="clear:both;"/>
  <div id='carousel_container'>
 
  
  <div id='left_scroll'><img src="/css/carousel_pics/left.png" alt=""/></div>
    <div id='carousel_inner'>
        <ul id='carousel_ul'>
            {section name=foo start=0 loop=20 step=1}
            <li>
             <a href='#'><img src='/css/carousel_pics/car_photo/auto_pic{cycle values="1,2,3,4,5"}.jpg' alt="" /></a>
            <span class="text">
            <span class="car_name">Porsche Cayenne </span>
            <span class="car_name">2003</span>
            <span class="car_price">30 000 $</span>
            </span>
            </li>
            {/section}

            </li>

           
        </ul>
    </div>
  <div id='right_scroll'><img src="/css/carousel_pics/right.png" alt=""/></div>
  </div>
