<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"  />
	<meta name="author" content="Galust" />
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
     <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    

	<title>Untitled 1</title>
    
    
     <script>

$(document).ready(function() {
 var icons = {
header: "ui-icon-circle-arrow-e",
activeHeader: "ui-icon-circle-arrow-s"
};
$( ".accordion" ).accordion({
    collapsible: true,
    icons:icons
});
});
</script>
</head>

<body>
<div class="texContent">
    <div style="padding: 0 13px ;"> 
        <span class="blue">Технический осмотр транспортных средств</span>
        <div class="texDesc">
            В данном блоке находится необходимый текст. Для сдачи реального экзамена в ГАИ желательно, чтобы вы успешно сдали как минимум 5 билетов подряд. В этом случае ваш шанс на прохождение теоретического экзамена в ГИБДД будет равен 99%. Сдать экзамен в ГАИ по категориям ‹A-B› вы можете экстерном (то есть, после самостоятельной подготовки). Вам совсем необязательно учиться в автошколе, если вы уверены в своих теоретических знаниях и умеете управлять автомобилем. Достаточно пройти медицинскую комиссию (в районной поликлинике), приехать в ГАИ по (344.2), узнать в какие дни проходят экзамены и оплатить 
        </div>
    </div>
    <div class="texTabs">
        <ul class="texList">
            <li class="active">
                <a href="#" >Калькуляторы:</a>
            </li>
            <li>
                <a href="#">Калькуляторы:</a>
            </li>
            <li>
                <a href="#">Калькуляторы:</a>
            </li>
            <li>
                <a href="#">Калькуляторы:</a>
            </li>
            <li>
                <a href="#">Калькуляторы:</a>
            </li>
            <br class="cb"/>
        </ul>
    </div>
    <div style="padding: 40px 13px 17px 13px;">
        <span class="blue">Центры технического обслуживания</span>
    </div>
    <div class="city">
        <span>Ереван</span>
    </div>
    
    <div class="accordion">
        <div class="kvartal">
        <span>Аван</span>
    </div>
        <div>
        <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
        </div>
        <div class="kvartal">
        <span>Аван</span>
        </div>
        <div>
        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
        </div>
        <div class="kvartal">
        <span>Аван</span>
        </div>
        <div>
        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
        <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
        </ul>
        </div>
        <div class="kvartal">
        <span>Аван</span>
        </div>
        <div>
        <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
    </div>
    
        <div class="city">
        <span>Араратский марз</span>
    </div>
    
    <div class="accordion">
        <div class="kvartal">
        <span>Аван</span>
    </div>
        <div>
        <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
        </div>
        <div class="kvartal">
        <span>Аван</span>
        </div>
        <div>
        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
        </div>
        <div class="kvartal">
        <span>Аван</span>
        </div>
        <div>
        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
        <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
        </ul>
        </div>
        <div class="kvartal">
        <span>Аван</span>
        </div>
        <div>
        <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
    </div>
    
</div>

</body>
</html>