<script type="text/javascript" language="javascript" src="/scripts/jquery.validate.js" ></script>
<script type="text/javascript" language="javascript" src="/scripts/registration.tpl.js" ></script>
{literal}
<script type="text/javascript" language="javascript" >
// JavaScript Document
$(document).ready(function() {
						   try{
$("#signupForm").validate({ errorLabelContainer: $("#signupForm div.errors"),
		rules: {
			
			old_password  : {
				required  : true,
				minlength : 5,
				remote    : {'url':"{/literal}{$this->path}{literal}?action=ajax&method=checkOldPassword"}
			},
			data_password : {
				required  :  true,
				minlength : 5
			},
			re_password   : {
				required  :  true,
				minlength : 5,
				equalTo   : "#data_password"
			}
		},
		messages: {
			old_password  : {
				required  : "{/literal}{Trans param='please_provide_a_password'}{literal}",
				minlength : "{/literal}{Trans param='your_password_must_be'}{literal}",
				remote    : "{/literal}{Trans param='old_password_must_error'}{literal}"
			},
			data_password : {
				required  : "{/literal}{Trans param='please_provide_a_password'}{literal}",
				minlength : "{/literal}{Trans param='your_password_must_be'}{literal}"
			},
			re_password   : {
				required  : "{/literal}{Trans param='your_password_must_be'}{literal}",
				minlength : "{/literal}{Trans param='your_password_must_be'}{literal}",
				equalTo   : "{/literal}{Trans param='please_enter_the_same_password_as_above'}{literal}"
			}
		}
	});
	}
	catch(e)
	{
		alert(e.message);
	}
});



</script>
{/literal}

<div class="blueleft">{$this->currentPage.label}</div>
<div class="blueright"></div>

<div style="width:590px" id="signupFormLaoder"><img src="/images/ajax-loader.gif"/></div>
<form action="{$thia->path}" method="post" id="signupForm">
<div class="errors" id="errors"></div>
   <span class="formtit w100 textR fl">
      <label for="old_password">{Trans param='old_password'}</label>
    </span>
   <input type="password" name="old_password" id="old_password" class="inp margL10" />
    <br class="cb" />
    <span class="formtit w100 textR fl">
      <label for="data_password">{Trans param='data_password'}</label>
    </span>
    <input type="password" name="data_password" id="data_password"  class="inp margL10" />
    <br class="cb" />
    <span class="formtit w100 textR fl">
      <label for="user_re_password">{Trans param='user_re_password'}</label>
    </span>
    <input type="password" name="re_password"  id="re_password"  class="inp margL10" />
    <br class="cb"/>
	 <div class="btnbord">
	  <div class="yelbtn1 fl"><input type="reset" name="reset"  value="{Trans param='user_reset'}" class="pointer" /></div><span class="yelbtn2 fl margR5"></span>
      <div class="yelbtn1 fl"><input type="submit" value="{Trans param='user_submit'}" name="login-btn" class="pointer" /></div><span class="yelbtn2 fl"></span>

    </div>     
  </form>