<script type="text/javascript" language="javascript" src="/scripts/jquery.validate.js"></script>


{literal}
<script type="text/javascript" language="javascript" >
// JavaScript Document
$(document).ready(function() {
						   try{
$("#signupForm").validate({errorLabelContainer: $("#signupForm div.errors"),
errorPlacement : function(error,
												element) {

											var atPos = $(element).attr(
													'data-position');
											var myPos = "right";
											if (atPos == undefined) {
												atPos = "right";
											}
											if (atPos == 'right') {
												myPos = "left";
											}
											$(error).css({
												position : 'absolute',
												width : 200
											})
											.click(function()
													{
														$(this).hide(250);
													}).insertAfter(element);
											var positionSettings = {
												of : $(element),
												my : myPos,
												at : atPos,
												offset : "0 0",
												collision : "fit fit"
											};

											var s = $(error).position(
													positionSettings);
											
										},
		rules: {
			data_email: {
				required: true,
				email:    true,
				remote:   {'url':"{/literal}{$this->path}{literal}?action=ajax&method=CheckEmailExist"}
			}
            ,
            
            captcha : {
												required : true,
												remote : {
													'url' : "{/literal}{$this->path}{literal}?action=ajax&method=checkCaptcha"
												}
											}
		},
		messages: {
			data_email:{
						 required:"{/literal}{Trans param='email_address_required'}{literal}", 
						 email:"{/literal}{Trans param='email_address_invalid'}{literal}", 
						 remote:   "{/literal}{Trans param='email_address_not_exist'}{literal}"
						 }
                         ,
        captcha : {
												required : "{/literal}{Trans param='captcha_required'}{literal}",
												remote : "{/literal}{Trans param='captcha_invlaid'}{literal}"
											}
		}
	});
						   }catch(e){alert(e.message);}
});


</script>

{/literal}
<div class="blueleft">{$this->currentPage.label}</div>
<div class="blueright"></div>
<div style="width:590px;display:none" id="signupFormLaoder"><img src="/images/ajax-loader.gif"/></div>
<form action="{$this->path}" method="post" id="signupForm" name="signupForm">
    <div class="error"> </div>
      <br class="cb" />
      <br class="cb" />
      
<table cellpadding="5" class="table20">
    <tr>
        <td>
                <span class="forgot_label">
                      <label for="data_email">{Trans param='user_email'}</label>
                </span>
        </td>
        <td>
            
                      <input style="margin: 0;"  type="text" name="data_email" id="data_email" class="sinp2"/>
            
        </td>
    </tr>
    <tr>
        <td>
            <span class="forgot_label fl" style="font-size: 1em;">
                  <label for="captcha">{Trans param='input_code'}</label>
            </span>
        </td>
        <td>
            <div class="fl">    
                   <div class="fl">  
                  <img  src="/kcaptcha/index.php" id="captImage" class="fl"/>
                  </div>
                  <div class="fl">
                    <input style="margin: 0;" type="button" name="reload" value="{Trans term='reload_captch' default='????????, ???? ?? ????? ???'}" onclick="reloadCaptcha()" class="login-btn fl reload-btn" /><br />
                    <input style="margin: 31px 10px 10px 10px;" type="text" name="captcha" id="captcha"   class="code fl"  style="margin-left: 230px; margin-top: 10px;"/>
                  </div>
                  <br class="cb"/>
                  <span class="borderLine"></span>
            </div>
        </td>
        
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="yelbtn1" style="width: 150px;margin: 0 auto;"><input style="width: 150px" type="submit" value="{Trans param='user_submit'}" class="pointer" /></div>
        </td>
    </tr>
</table>      

   {*
   <div class="btnbord" style="text-align: center;">
       <div class="yelbtn1 fl"><input type="reset" name="reset"  value="{Trans param='user_reset'}" class="pointer" /></div><span class="yelbtn2 fl margR5"></span>
    	
        
        <div class="yelbtn1" style="width: 150px;margin: 0 auto;"><input style="width: 150px" type="submit" value="{Trans param='user_submit'}" class="pointer" /></div>
        
        <span class="yelbtn2 fl"></span>
        <br class="cb"/>
    </div> 
    *} 
</form>
