{strip}

{if isset($this->get.imagepath)}
{assign var=imagePath value=$this->get.imagepath}
{else}
{assign var=imagePath value='img/offers/thumb/`$imagePath`}
{/if}

{assign var=imagePathExist value=$imagePath|@file_exists}
{if $imagePathExist }
<div style="float:left; width:100px; height:100px;" class="uupladeimage">
  <div style="margin:2px; padding:2px; border:solid 1px #28333e; width:80px; height:80px;">
    <div style="text-align:right; color:#ffee00; cursor:pointer;" onclick="removeMe(this)"><strong>x</strong></div>
    
    <center>
      <img src="/{$imagePath}" style="max-height:50px; max-width:50px;" alt="" title="" />
    <br class="cb"/>
    <input type="hidden" name="rel[image][]" value="{$imagePath}"/>
    
    </center>
    
  </div>
</div>
{/if}
{/strip}