
<div class="user-page">
    <h2>Профиль</h2>
    <div class="user_top">
        <div class="user_left fl">
            <div class="user_left_top" style="width: 488px;">
                <span class="fl" style="font-size: 1.167em!important;color: #fff;font-weight: normal;">Информация</span>
                <div class="overlay fr">
                <a href="#" style="color: #06b2f3;">изменить</a>
                 </div>
                {*<span class="fr" style="font-size: 0.917em!important;important;color: #fff;">С нами уже 21 день!</span>*}
                <br class="cb"/>
            </div>
            <table cellpadding="5" cellspacing="4" width="100%" class="tbbg">
                <tr>
                <td style="color:#8ea5b0; font-size:13px">Имя</td>
                <td  style="color:#ffffff; font-size:13px">Name Surname</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="pic"></div>
                    </td>
                </tr>
                <tr>
                <td style="color:#8ea5b0; font-size:13px">Откуда:</td>
                <td  style="color:#ffffff; font-size:13px">Армения, Ереван</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="pic"></div>
                    </td>
                </tr>
                <tr>
                <td style="color:#8ea5b0; font-size:13px">эл. почта:</td>
                <td style="color:#ffffff; font-size:13px"><a href="#" style="color:#00b9ff ;">info@transinfo.am</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="pic"></div>
                    </td>
                </tr>
                <tr >
                <td style="color:#8ea5b0; font-size:13px">Автомобиль:</td>
                <td style="color:#ffffff; font-size:13px">Mitsubishi Outlander 2.4</td>
                </tr>
            </table>
            
            <br class="cb"/>
        </div>
        <div class="user_right fr">
            
        </div>
        <br class="cb"/>
    </div>   
</div>