<div class="add_services">
<h2>{Trans term = 'profile-create' default = 'Создание профиля компании'}</h2>
<table  border="0" cellpadding="10" cellspacing="0" class="text" id="Table2">
            <tr>
                    <td><label  for="company_title" class="req_field addLabel">{Trans term="company_Name" default="Название компании:"}*</label></td>
        	               <td colspan="3"><input data-position="left bottom" name="company[title]" type="text" maxlength="150" size="90" id="company_title" class="inputbig" value="{$this->post.company.title|default:''}"/></td>
                        </tr>
                        <tr>
                          <td><label class="addLabel">{Trans term="Category" default="Категория:"}*</label></td>
                          <td>
                              <select class="uni"  name="company[servicescategory]" id="company_category" class="select_170" onchange="loadSubCategory(this)">
                                      
										<!--{foreach from=$this->dictonary.servicescategory item=servicescategory name=servicesIteration} -->
										
                                      <option  value="{$servicescategory.id}">{$servicescategory.name}</option>
                                      
										<!--{/foreach}-->

                                    
                                </select>
                          </td>
                          <td><div style="width: 12px;text-align: center;"><img src="../../css/addslaq.png"/></div></td>
                          <td>
                            <select class="uni" name="company[sub_servicescategory]" id="sub_servicescategory" class="select_170" style="display: none;float: left;">
                                      	<option  value="0">{Trans term='SELECT_ONE'}</option>
                              </select>
                          </td>
                          
                        </tr>
                        
                              
                        
                        <tr>
                          <td><label for="company_addres" class="addLabel">{Trans term="address_label" default="Адрес:"}*</label></td>
                          <td colspan="3"><input data-position="left bottom"  name="company[addres]" type="text" maxlength="200" size="50" id="company_addres"  class="inputbig" value="{$this->post.company.addres|default:' '}"/></td>  
                          
                        </tr>
                        <tr>
                          <td><label for="company_url" class="addLabel">{Trans term="web_page_label" default="Сайт (начиная с http://):"}</label></td>
                          <td colspan="3"><input   name="company[url]" type="text" maxlength="50" size="50" id="company_url" class="inputbig" value="{$this->post.company.url'}"/></td>
                        </tr>
                        <tr>
                            <td><label class="addLabel" for="company_phone">{Trans term="Contact_details_phone" default="Телефон:"}*</label></td>
                            <td><input data-position="left bottom"   name="company[phone]" type="text" maxlength="50" size="50"   id="company_phone" class="inputsmall" value="{$this->post.company.phone|default:''}"/></td>
                            <td colspan="2"><input  name="company[phone1]" type="text" maxlength="50" size="50"   id="company_phone1" class="inputsmall" value="{$this->post.company.phone1|default:''}"/></td>
                        </tr>    
                        <tr>
                          <td><label for="company_email" class="addLabel">{Trans term="Email" default="E-mail:"}</label></td>
                          <td colspan="3"><input data-position="left bottom"  name="company[email]" type="text" maxlength="50" size="50" id="company_email" class="inputbig" value="{$this->post.company.email|default:''}"/></td>
                        </tr>
                        <tr>
                            <td><label for="company_text" class="addLabel">{Trans term="short_desc_label_label" default="Краткое описание:"}<span class="red" id="SpanError"></span></label></td>
                            <td colspan="3"><textarea name="company[description]" rows="6" id="company_text"  >{$this->post.company.description|default:''}</textarea></td>
                        </tr>
                        
                        <tr>
                            <td><label  class="addLabel" for="filed_options">{Trans param='logo'}</label></td>
                            <td colspan="3">{include file=services/services_logo.tpl.html}</td>
                        </tr>
                        <tr>
                            <td><label  class="addLabel" for="filed_options">{Trans param='filed_photos'}</label></td>
                            <td colspan="3">{include file=services/offer_photos.tpl.html}</td>
                        </tr>
                        <tr>
                          <td rowspan="2"><button type="submit" name="btnNext" value=""  id="btnNext" >{Trans term="create" default="Создать"}</button></td>
                        </tr>
                
          </table>
</div>
